body{
  background-color: #494D5F;
}

h3{
  color: #d0bdf4;
  text-align: center;
}

.Home{
  display: flex;
  flex-wrap: wrap;
}

.characterSheet{
  height: auto;
  width: 200px;
  margin: 5px 10px;
  background-color: #8458B3;
  border: solid #D0BDF4;
}
